nav li {
    text-decoration: none;
}

header{
    background-image: url("galaxy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;    
}